<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AbemaTV 番組表</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js"></script>
  <script src="box.js"></script>
  <link rel="stylesheet" href="box.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body style="background-color: black;">
<div ng-controller="SimpleController as main">

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div ng-init="main.doSearch()">
      <ul class="list-inline">
        <li ng-repeat="key in main.keys">
          <span style="cursor: pointer;" class="label label-primary" ng-show="false"
                ng-click="main.switchChannel(key)">{{key}}</span>
        </li>
      </ul>
    </div>
  </nav>

  <div class="my-container" style="padding-top: 30px;" ng-show="main.results.length">
    <div class="parent-slots">
      <div class="inline-slots" style="width: 20px;">
        <div style="height: 34px;"></div>
        <div class="hour-box"><strong>0</strong></div>
        <div class="hour-box"><strong>1</strong></div>
        <div class="hour-box"><strong>2</strong></div>
        <div class="hour-box"><strong>3</strong></div>
        <div class="hour-box"><strong>4</strong></div>
        <div class="hour-box"><strong>5</strong></div>
        <div class="hour-box"><strong>6</strong></div>
        <div class="hour-box"><strong>7</strong></div>
        <div class="hour-box"><strong>8</strong></div>
        <div class="hour-box"><strong>9</strong></div>
        <div class="hour-box"><strong>10</strong></div>
        <div class="hour-box"><strong>11</strong></div>
        <div class="hour-box"><strong>12</strong></div>
        <div class="hour-box"><strong>13</strong></div>
        <div class="hour-box"><strong>14</strong></div>
        <div class="hour-box"><strong>15</strong></div>
        <div class="hour-box"><strong>16</strong></div>
        <div class="hour-box"><strong>17</strong></div>
        <div class="hour-box"><strong>18</strong></div>
        <div class="hour-box"><strong>19</strong></div>
        <div class="hour-box"><strong>20</strong></div>
        <div class="hour-box"><strong>21</strong></div>
        <div class="hour-box"><strong>22</strong></div>
        <div class="hour-box"><strong>23</strong></div>
      </div>

      <div class="inline-slots" ng-repeat="result in main.results" style="width: 160px;">
        <div ng-show="result.length">
        <!--<div ng-show="result.length && main.current_channel == result[0].channelId">-->
          <div>
            <a ng-href="https://abema.tv/now-on-air/{{result[0].channelId}}" target="_blank"
               name="{{result[0].channelId}}">
              <div style="height: 34px; padding: 0 10px; background-color: #000; color: #fff; display: inline-block;">
                <img ng-src="https://hayabusa.io/abema/channels/logo/{{result[0].channelId}}.w80.h30.webp?width=80&height=30"
                     alt="{{result[0].channelId}}">
                <!--<span class="h4">{{ result[0].channelId }}</span>-->
              </div>
            </a>
          </div>
          <div class="table table-hover table-striped"
               style="background-color: #eee;">
            <div class="slot-box"
                 ng-repeat="slot in result"
                 ng-style="main.channel[slot.channelId][$index]"
                 ng-class="{danger: main.isNowOnAir(slot.startAt, slot.endAt)}">
              <!--ng-style="{backgroundColor: slot.programs[0].series.themeColor.background}">-->
              <a ng-href="https://abema.tv/channels/{{result[0].channelId}}/slots/{{slot.id}}"
                 target="_blank" title="{{slot.title}}" style="text-decoration: none;">

              <div style="margin-left: 2px; color: #6fb900; font-size: 12px; font-family: Helvetica">
                <span>{{ main.channel[slot.channelId][$index].mm }}</span>
              </div>
              <div>
                  <div class="slot-title">{{ slot.title }}</div>
                  <img alt="{{slot.title}}"
                       ng-hide="main.channel[slot.channelId][$index].min < 60"
                       ng-src="https://hayabusa.io/abema/programs/{{slot.displayProgramId}}/thumb001.w136.h77.v1480900997.webp?width=136&amp;height=77">
                <div class="slot-table-highlight">{{ slot.tableHighlight }}</div>
              </div>
              </a>
              <!--<pre>-->
              <!--{{ slot | json }}-->
              <!--</pre>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<pre>-->
    <!--{{ main.results | json }}-->
  <!--</pre>-->
</div>
</body>
</html>
