<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AbemaTV 番組表</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="app.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- 日本語ロケールをロードしておくことでカレンダーの曜日表示が日本語になる -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.8/angular-locale_ja-jp.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
<div ng-controller="MainController as main">

  <div>
    <h1 style="display: inline-block;">AbemaTV 番組表</h1>
    <div class="date datepicker-days period-start" style="display: inline-block;">
      <div>
        <button type="text"
                class="btn btn-default"
                ng-model="main.target_date"
                uib-datepicker-popup="yyyy-MM-dd"
                is-open="main.datePickerOpen"
                ng-click="main.toggleDatePicker($event)"
                ng-change="main.doSearch()"
                ng-init="main.doSearch()"
                current-text="今日" clear-text="クリア" close-text="閉じる"
                datepicker-options="main.datepickerOptions">
          {{main.target_date | date: 'yyyy-MM-dd'}}
        </button>
      </div>
    </div>
    <div ng-show="main.results.length" style="display: inline-block;">
      <span>チャンネル数: {{ main.results.length }}</span>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="main.checkAll(true)">全てを選択</button>
        <button type="button" class="btn btn-default" ng-click="main.checkAll(false)">全てを解除</button>
      </div>
    </div>
  </div>
  <section ng-show="main.keys.length">
    <ul class="list-inline">
      <li ng-repeat="key in main.keys">
        <input type="checkbox" id="channel_{{key}}" ng-model="main.channel[key]" />
        <label for="channel_{{key}}"><a ng-href="#{{key}}">{{key}}</a></label>
      </li>
    </ul>
  </section>

  <ul ng-show="main.results.length" style="list-style: none; padding: 0;">
    <li ng-repeat="result in main.results">
      <div ng-show="result.length && main.channel[result[0].channelId]">
        <h2>
          <a ng-href="https://abema.tv/now-on-air/{{result[0].channelId}}" target="_blank"
             name="{{result[0].channelId}}">
            <div style="height: 34px; padding: 0 10px; background-color: #000; color: #fff; display: inline-block;">
            <img ng-src="https://hayabusa.io/abema/channels/logo/{{result[0].channelId}}.w80.h30.webp?width=80&height=30"
                 alt="{{result[0].channelId}}">
              {{ result[0].channelId }}
            </div>
          </a>
        </h2>
        <table class="table table-bordered">
          <tr ng-repeat="slot in result">
            <!--ng-style="{backgroundColor: slot.programs[0].series.themeColor.background}">-->
            <td>{{ main.getDateStringFromUnixTimeSeconds(slot.startAt, 'M/d h:mm') }}
              <br /><span>-</span><br />
              {{ main.getDateStringFromUnixTimeSeconds(slot.endAt, 'h:mm') }}
            </td>
            <td>
              <a ng-href="https://abema.tv/channels/{{result[0].channelId}}/slots/{{slot.id}}"
                 target="_blank" title="{{slot.title}}"><strong>{{ slot.title }}</strong>
                <img alt="{{slot.title}}"
                     ng-src="https://hayabusa.io/abema/programs/{{slot.displayProgramId}}/thumb001.w136.h77.v1480900997.webp?width=136&amp;height=77">
              <br />
              <div class="small" ng-hide="slot.title==slot.highlight">{{ slot.highlight }}</div>
              </a>
            </td>
            <td>{{ slot.content }}</td>
            <td>{{ slot.tableHighlight }}</td>
            <td>{{ slot.programs[0].credit.casts.join(',') }}</td>
            <!--<pre>-->
            <!--{{ slot | json }}-->
            <!--</pre>-->
          </tr>
        </table>
      </div>
    </li>
  </ul>
  <!--<pre>-->
    <!--{{ main.results | json }}-->
  <!--</pre>-->
</div>
</body>
</html>
