<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AbemaTV 番組表</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js"></script>
  <script src="simple.js"></script>
</head>
<body>
<div ng-controller="SimpleController as main">

  <nav class="navbar navbar-fixed-top" role="navigation">
    <div ng-init="main.doSearch()">
      <ul class="list-inline">
        <li ng-repeat="key in main.keys">
          <span style="cursor: pointer;" class="label label-primary"
                ng-click="main.current_channel = key">{{key}}</span>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container" style="padding-top: 30px;" ng-show="main.results.length">
    <ul style="list-style: none; padding: 0;">
      <li ng-repeat="result in main.results">
        <div ng-show="result.length && main.current_channel == result[0].channelId">
          <h2>
            <a ng-href="https://abema.tv/now-on-air/{{result[0].channelId}}" target="_blank"
               name="{{result[0].channelId}}">
              <div style="height: 34px; padding: 0 10px; background-color: #000; color: #fff; display: inline-block;">
                <img ng-src="https://hayabusa.io/abema/channels/logo/{{result[0].channelId}}.w80.h30.webp?width=80&height=30"
                     alt="{{result[0].channelId}}">
                <span class="h4">{{ result[0].channelId }}</span>
              </div>
            </a>
          </h2>
          <table class="table table-bordered table-hover table-striped">
            <tr ng-repeat="slot in result"
                ng-class="{danger: main.isNowOnAir(slot.startAt, slot.endAt)}">
              <!--ng-style="{backgroundColor: slot.programs[0].series.themeColor.background}">-->
              <td>
                <strong>{{ main.dispStartAt(result[0].startAt, slot.startAt) }}</strong>
                <div ng-show="main.isNowOnAir(slot.startAt, slot.endAt)">
                  <span class="label label-danger">NowOnAir</span>
                </div>
              </td>
              <td>
                <a ng-href="https://abema.tv/channels/{{result[0].channelId}}/slots/{{slot.id}}"
                   target="_blank" title="{{slot.title}}"><strong>{{ slot.title }}</strong>
                  <img alt="{{slot.title}}"
                       ng-src="https://hayabusa.io/abema/programs/{{slot.displayProgramId}}/thumb001.w136.h77.v1480900997.webp?width=136&amp;height=77">
                  <br />
                  <div class="small" ng-hide="slot.title==slot.highlight">{{ slot.highlight }}</div>
                </a>
              </td>
              <td>{{ slot.content }}</td>
              <td>{{ slot.tableHighlight }}</td>
              <td>{{ slot.programs[0].credit.casts.join(',') }}</td>
              <!--<pre>-->
              <!--{{ slot | json }}-->
              <!--</pre>-->
            </tr>
          </table>
        </div>
      </li>
    </ul>
  </div>

  <!--<pre>-->
    <!--{{ main.results | json }}-->
  <!--</pre>-->
</div>
</body>
</html>
